/* HEADER
*/

header {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: calc(100% - 60px);
  padding: 30px 0;
}

/* ADICIONAR
*/

header .adicionar {
  display: flex;
  margin-right: auto;
  margin-left: 30px;
}

header .adicionar i {
  font-size: 1.3rem;
  line-height: 0.9;
  padding: 12px;
  cursor: pointer;
  transition: all 0.3s;
  color: var(--c-white-fixed);
  border-radius: 50%;
  background-color: var(--c-grey);
}

header .adicionar i:hover {
  background-color: var(--c-grey-dark);
}

/* TITULO
*/

header .titulo {
  display: flex;
  flex-direction: column;
}

header .titulo p.nome {
  font-family: 'Medium';
  font-size: 1.5rem;
  padding-bottom: 2px;
  color: var(--c-text-dark);
}

header .titulo p.sobre {
  font-family: 'Regular';
  font-size: 1rem;
  color: var(--c-text);
}

/* OPCOES
*/

header .opcoes {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 100%;
  margin-left: auto;
}

header .opcoes img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

header .opcoes a:nth-child(3):hover {
  opacity: 0.7;
}

header .opcoes a:nth-child(3) {
  line-height: initial;
  display: flex;
  align-items: center;
  flex-direction: row;
}

header .opcoes a:nth-child(3) p {
  font-family: 'Regular';
  font-size: 1rem;
  padding-left: 15px;
  color: var(--c-text);
}

header .opcoes .ajuda i,
header .opcoes .notificacoes i {
  font-size: 2.2rem;
  transition: all 0.3s;
  color: var(--c-grey);
}

header .opcoes .ajuda:hover i,
header .opcoes .notificacoes:hover i {
  color: var(--c-grey-dark);
}

header .opcoes .ajuda {
  margin-right: 15px;
}

header .opcoes .notificacoes {
  margin-right: 30px;
}

header .opcoes .notificacoes.nova {
  position: relative;
}

header .opcoes .notificacoes.nova div {
  position: absolute;
  top: 0;
  right: -4px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: var(--c-red);
}

/* RESPONSIVO
*/

@media screen and (max-width: 1000px) {
  header .opcoes {
    display: none;
  }
  header .titulo {
    width: 100%;
    margin-right: auto;
  }
  header .adicionar {
    margin-left: auto;
  }
  header .adicionar button {
    margin-left: auto;
  }
}

@media screen and (max-width: 500px) {
  header {
    width: calc(100% - 30px);
  }
  header .titulo p.nome {
    font-size: 1.4rem;
  }
  header .titulo p.sobre {
    font-size: 0.9rem;
  }
}
