/* LABEL
*/

label {
  font-family: 'Regular';
  font-size: 0.8rem;
  color: var(--c-label);
}

label:focus,
label:active,
label:hover {
  background-color: var(--c-white);
}

label > .required {
  font-size: 1rem;
  color: var(--c-red);
}

/* RESPONSIVO
*/

@media screen and (max-width: 500px) {
  label {
    font-size: 0.7rem;
  }
}
