/* TEXTAREA
*/

textarea {
  font-family: 'Regular';
  font-size: 1rem;
  width: 100%;
  min-height: 2.6em;
  max-height: 50vh;
  margin-bottom: 20px;
  padding: 10px 0 10px 0;
  resize: none;
  color: var(--c-input);
  border-bottom: 2px solid var(--c-input-border);
  background-color: var(--c-white);

  filter: none;
}

textarea:focus,
textarea::placeholder {
  opacity: 1;
}

textarea::placeholder {
  font-family: 'Regular';
  color: var(--c-input-placeholder);
}

textarea:focus {
  font-family: 'Regular';
  color: var(--c-input);
  outline: none !important;
}

textarea:-webkit-autofill,
textarea:-webkit-autofill:focus {
  -webkit-box-shadow: inset 0 0 0 9999px var(--c-white);
}

/* RESPONSIVO
*/

@media screen and (max-width: 500px) {
  textarea {
    font-size: 0.9rem;
  }
}
