/*=======================*\
    DATEPICKER
\*=======================*/

app-date-picker {
  font-family: 'Medium';
  position: relative;
}

app-date-picker:focus {
  outline: none;
}

/* DISABLED
*/

app-date-picker:disabled,
app-date-picker:disabled * {
  cursor: none;
  pointer-events: none;
}

/*=======================*\
    INPUT
\*=======================*/

app-date-picker input {
  cursor: pointer;
  transition: all 0.2s;
}

/*=======================*\
    CALENDARIO
\*=======================*/

app-date-picker .calendario {
  position: absolute;
  z-index: 2;
  top: 45px;
  display: none;
  width: 450px;
  min-width: 450px;
  padding: 15px 13px 25px 13px;
  border-radius: 0 0 15px 15px;
  background-color: var(--c-base);
  box-shadow: 0 0 1px 0 var(--c-shadow-one), 0 4px 14px var(--c-shadow-two);
}

app-date-picker .calendario.mostrar {
  display: block;
}

/*=======================*\
    CONTROLES
\*=======================*/

app-date-picker .calendario .controles {
  font-family: 'Regular';
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

app-date-picker .calendario .controles .voltar,
app-date-picker .calendario .controles .avancar {
  padding: 10px 30px;
  cursor: pointer;
  color: var(--c-grey);
}

app-date-picker .calendario .controles .voltar *,
app-date-picker .calendario .controles .avancar * {
  pointer-events: none;
}

/*=======================*\
    MES E ANO
\*=======================*/

app-date-picker .calendario .controles .data span {
  font-family: 'Regular';
  font-size: 1.1rem;
  color: var(--c-text);
}

app-date-picker .calendario .controles .voltar,
app-date-picker .calendario .controles .avancar {
  font-size: 1rem;
  transition: all 0.2s;
}

app-date-picker .calendario .controles .voltar:hover,
app-date-picker .calendario .controles .avancar:hover {
  font-size: 1rem;
  color: var(--c-grey-dark);
}

/*=======================*\
    DIAS DA SEMANA
\*=======================*/

app-date-picker .calendario .titulos {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-top: 15px;
  padding-bottom: 5px;
}

app-date-picker .calendario .titulos span {
  font-family: 'Regular';
  font-size: 1rem;
  width: calc(100% / 7);
  text-align: center;
  color: var(--c-text-dark);
}

/*=======================*\
    DIAS
\*=======================*/

app-date-picker .calendario .dias {
  display: flex;
  align-items: center;
  flex-basis: 3rem;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

app-date-picker .calendario .dias span {
  font-family: 'Regular';
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% / 7);
  height: 30px;
  cursor: pointer;
  transition: all 0.2s;
  color: var(--c-text);
}

app-date-picker .calendario .dias span:hover {
  color: var(--c-text-dark);
}

/*=======================*\
    DIAS NONE
\*=======================*/

app-date-picker .calendario .dias span.vazio {
  cursor: default;
  pointer-events: none;
  background-color: var(--c-white);
}

/*=======================*\
    DIA HOJE
\*=======================*/

app-date-picker .calendario .dias span.hoje {
  font-family: 'Medium';
  color: var(--c-text-dark);
  border-radius: 10px;
  background-color: var(--c-body);
}

/*=======================*\
    RESPONSIVO
\*=======================*/

@media screen and (max-width: 600px) {
  app-date-picker input {
    font-size: 0.9rem;
  }
  app-date-picker .calendario .controles .data span {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 550px) {
  app-date-picker .calendario {
    width: 100%;
    min-width: 89vw;
    margin-bottom: 40px;
  }
}
