/* DATA
*/

app-date-select {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-right: auto;
  border-radius: 10px;
  background-color: var(--c-base);
  box-shadow: 0 0 1px 0 var(--c-shadow-one), 0 4px 14px var(--c-shadow-two);
}

app-date-select button.voltar,
app-date-select button.avancar {
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
  color: var(--c-grey);
  background-color: transparent;
}

app-date-select button.voltar:hover,
app-date-select button.avancar:hover {
  color: var(--c-grey-dark);
}

app-date-select button.voltar i,
app-date-select button.avancar i {
  pointer-events: none;
}

app-date-select button.voltar {
  margin-right: auto;
  padding-left: 15px;
}

app-date-select button.avancar {
  margin-left: auto;
  padding-right: 15px;
}

app-date-select p {
  font-family: 'Regular';
  font-size: 1.1rem;
  transition: opacity ease-out;
  color: var(--c-text-dark);
}

app-date-select p.animation {
  animation: fadeIn 0.3s;
}

app-date-select p span {
  font-family: 'Regular';
  font-size: 1rem;
  padding-left: 2px;
  color: var(--c-text);
}

@media screen and (max-width: 500px) {
  app-date-select p {
    font-size: 1rem;
  }
  app-date-select p span {
    font-size: 0.9rem;
    padding-left: 0;
  }
  app-date-select button.voltar,
  app-date-select button.avancar {
    font-size: 1.1rem;
  }
}
