/* COMPONENTE HORÁRIOS
*/

app-agenda {
  display: flex;
  overflow-x: scroll;
  align-items: flex-start;
  flex-direction: row;
  width: calc(100% - 60px);
}

app-agenda {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  outline: none;

   -khtml-user-select: none;
  scrollbar-width: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.0);
  -webkit-text-size-adjust: none;
  -webkit-touch-callout: none;
}

app-agenda::-webkit-scrollbar-track,
app-agenda::-webkit-scrollbar,
app-agenda::-webkit-scrollbar-thumb {
  display: none;
}

app-agenda *::selection {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* DRAGGING */
app-agenda.drag {
  cursor: grabbing;
}

/* DIA
*/

app-agenda .dia {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 600px;
  margin-right: 20px;
  padding: 20px 10px;
  border-radius: 10px;
  background-color: var(--c-base);
  box-shadow: 0 0 1px 0 var(--c-shadow-one), 0 4px 14px var(--c-shadow-two);
}

app-agenda .dia .texto {
  display: flex;
  flex-direction: column;
  width: 250px;
  margin-bottom: 20px;
  text-align: center;
}

app-agenda .dia {
  border-top: 5px solid var(--c-grey-light);
}

app-agenda .dia.atual .texto {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-bottom: 20px;
  text-align: center;
}

app-agenda .dia.atual {
  border-top: 5px solid var(--c-grey-dark);
}

app-agenda .dia.atual .texto p.numero {
  color: var(--c-text);
}

app-agenda .dia.atual .texto p.texto::after {
  font-size: 0.7rem;
  margin-left: 10px;
  padding: 2px 8px;
  content: 'Hoje';
  color: var(--c-white-fixed);
  border-radius: 100px;
  background-color: var(--c-grey);
}

app-agenda .dia .texto p.numero {
  font-family: 'Medium';
  font-size: 2.3rem;
  color: var(--c-text);
}

app-agenda .dia .texto p.texto {
  font-family: 'Regular';
  font-size: 1rem;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  color: var(--c-text);
}

/* HORÁRIOS
*/

app-agenda .dia .horarios .horario * {
  pointer-events: none;
}

app-agenda .dia .horarios .horario {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 20px;
  cursor: pointer;
  transition: all 0.2s;
  text-align: left;
  border-radius: 0 10px 10px 0;
  background-color: var(--c-white);
  box-shadow: inset 0 0 0 1.5px var(--c-text-border);
}

app-agenda .dia .horarios .horario:hover {
  box-shadow: inset 0 0 0 1.5px var(--c-grey-light);
}

app-agenda .dia .horarios .horario.azul {
  border-left: 3px solid var(--c-blue);
}

app-agenda .dia .horarios .horario.verde {
  border-left: 3px solid var(--c-green);
}

app-agenda .dia .horarios .horario.vermelho {
  border-left: 3px solid var(--c-red);
}

app-agenda .dia .horarios .horario.amarelo {
  border-left: 3px solid var(--c-yellow);
}

app-agenda .dia .horarios .horario.rosa {
  border-left: 3px solid var(--c-pink);
}

app-agenda .dia .horarios .horario.cinza {
  border-left: 3px solid var(--c-grey);
}

app-agenda .dia .horarios .horario p.titulo {
  font-family: 'Regular';
  font-size: 1.1rem;
  padding: 15px 15px 5px 15px;
  color: var(--c-text-dark);
}

app-agenda .dia .horarios .horario p.hora {
  font-family: 'Regular';
  font-size: 0.9rem;
  padding: 0 15px 15px 15px;
  color: var(--c-text);
}

/* RESPONSIVO
*/

@media screen and (max-width: 500px) {
  app-agenda {
    width: calc(100% - 30px);
  }
  app-agenda .dia .horarios .horario p.titulo {
    font-size: 0.9rem;
  }

  app-agenda .dia .horarios .horario p.hora {
    font-size: 0.8rem;
  }
}
