/* LISTA
*/

app-lista {
  display: flex;
  flex-direction: column;
  width: calc(100% - 60px);
  border-radius: 15px;
  background-color: var(--c-base);
  box-shadow: 0 0 1px 0 var(--c-shadow-one), 0 4px 14px var(--c-shadow-two);
}

app-lista ul {
  padding: 20px 30px 15px 30px;
}

app-lista ul:empty:before {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

app-lista ul:empty:not(:focus):before {
  font-family: 'Regular';
  font-size: 1rem;
  text-align: center;
  color: var(--c-grey-light);
}

/* ITEM
*/

app-lista .item * {
  pointer-events: none;
}

app-lista .item {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 20px 0;
  cursor: pointer;
  transition: all 0.3s;
  border-bottom: 1px solid var(--c-text-border);
}

app-lista .item div p.principal,
app-lista .item div p.secundario {
  transition: all 0.3s;
  pointer-events: none;
}

app-lista .item:hover div .icone::before,
app-lista .item:hover div .icone-tela::before {
  transition: all 0.3s;
  color: var(--c-grey);
}

app-lista .item .info img {
  opacity: 0.2;
}

/* INFO
*/

app-lista .item .info {
  display: flex;
  align-items: center;
  flex-direction: row;
}

app-lista .item .info div {
  display: flex;
  flex-direction: column;

  justify-self: flex-start;
}

app-lista .item .info img {
  width: 40px;
  height: 40px;
  margin-right: 15px;
}

app-lista .item .info p.principal {
  font-family: 'Regular';
  font-size: 1.1rem;
  line-height: initial;
  margin-bottom: 5px;
  color: var(--c-text-dark);
}

app-lista .item .info p.secundario {
  font-family: 'Regular';
  font-size: 1rem;
  line-height: initial;
  color: var(--c-text);
}

app-lista .item .info .icone-tela::before {
  font-family: 'Icons';
  font-size: 2rem;
  padding-right: 10px;
  transition: all 0.3s;
  color: var(--c-grey-light);
}

/* OPCOES
*/

app-lista .item .opcoes {
  display: flex;
  margin-left: auto;
}

app-lista .item .opcoes .icone::before {
  font-family: 'Icons';
  font-size: 1.3rem;
  padding-left: 10px;
  content: '\e028';
  transition: all 0.3s;
  color: var(--c-grey-light);
}

/* PAGINACAO
*/

app-lista .paginacao {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;
  padding: 0 10px 30px 10px;
}

app-lista .paginacao span {
  font-family: 'Regular';
  font-size: 1rem;
  line-height: initial;
  margin: 0;
  margin-left: 8px;
  padding: 5px 10px;
  cursor: pointer;
  transition: all 0.3s;
  color: var(--c-grey-light);
  border-radius: 10px;
  background-color: var(--c-white);
}

app-lista .paginacao span:last-child {
  margin-right: 0;
}

app-lista .paginacao span:hover {
  color: var(--c-grey-dark);
}

app-lista .paginacao span.atual {
  color: var(--c-white-fixed);
  background-color: var(--c-grey-light);
}

app-lista .paginacao span.divisor {
  padding: 0;
  cursor: auto;
  color: var(--c-grey-light);
  border: none;
  background-color: var(--c-white);
}

/* RESPONSIVO
*/

@media screen and (max-width: 500px) {
  app-lista {
    width: calc(100% - 30px);
    border-radius: 10px;
  }
  app-lista ul {
    padding: 15px 15px 0 15px;
  }
  app-lista ul:empty:not(:focus):before {
    font-size: 0.8rem;
  }
  app-lista .item {
    padding: 15px 0;
  }
  app-lista .item .info p.principal {
    font-size: 0.9rem;
    margin-bottom: 5px;
  }
  app-lista .item .info p.secundario {
    font-size: 0.8rem;
  }
  app-lista .paginacao span {
    font-size: 0.7rem;
  }
  app-lista .item .info img {
    display: none;
  }
  app-lista .item .info .icone-tela {
    display: none;
  }
  app-lista .item .opcoes .icone::before {
    font-size: 1rem;
  }
}
