/* PAGAMENTO
*/

app-pagamento {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}

app-pagamento label {
  margin: 0;
}

app-pagamento > input#valor_total:disabled {
  cursor: not-allowed;
}

/* DISABLED
*/

app-pagamento:disabled,
app-pagamento:disabled * {
  cursor: none;
  pointer-events: none;
}

/* FOCUS
*/

app-pagamento:focus {
  outline: none;
}

/* ICONE CALCULAR
*/

app-pagamento .calcular {
  position: absolute;
  top: 32px;
  right: 75px;
  display: flex;
  align-items: center;
  flex-direction: row;
}

app-pagamento .calcular button {
  font-family: 'Regular';
  font-size: 0.8rem;
  color: var(--c-grey);
  background-color: transparent;
}

app-pagamento .calcular button:hover,
app-pagamento .calcular button:hover::before {
  color: var(--c-grey-dark);
}

app-pagamento .calcular button::before {
  content: 'Calcular';
  color: var(--c-grey);
}

/* ICONE PRECO
*/

app-pagamento .quantidade {
  position: absolute;
  top: 28px;
  right: 0;
  display: flex;
  align-items: center;
  flex-direction: row;
}

app-pagamento .quantidade p {
  font-family: 'Regular';
  font-size: 1rem;
  color: var(--c-grey);
}

app-pagamento .quantidade button.aumentar,
app-pagamento .quantidade button.diminuir {
  font-family: 'Regular';
  font-size: 1.2rem;
  color: var(--c-grey);
  background-color: transparent;
}

app-pagamento .quantidade button.aumentar:hover {
  color: var(--c-green);
}

app-pagamento .quantidade button.diminuir:hover {
  color: var(--c-red);
}

app-pagamento .quantidade button.aumentar {
  padding-left: 10px;
}

app-pagamento .quantidade button.diminuir {
  padding-right: 10px;
}

/* PARCELA
*/

app-pagamento .parcelas .parcela {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 15px;
}

app-pagamento .parcelas .parcela .content {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
}

app-pagamento .parcelas .parcela .content .grupo1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  margin-left: 10px;
  border-bottom: 1.5px solid var(--c-input-border);
}

app-pagamento .parcelas .parcela .content .grupo1 span {
  font-family: 'Regular';
  font-size: 0.7rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-width: 60px;
  height: min-content;
  padding: 2px 7px;
  cursor: pointer;
  text-align: center;
  color: var(--c-white-fixed);
  border-radius: 100px;
  background-color: var(--c-button-gray);
}

app-pagamento .parcelas .parcela .content .grupo1 span::selection {
  background-color: transparent;
}

app-pagamento .parcelas .parcela .content .grupo1 input {
  width: 100%;
  margin-bottom: 0;
  border: 0;
}

app-pagamento > .parcelas > .parcela > .content > app-date-picker > input {
  margin-bottom: 0;
}

/* PARCELA ATUAL
*/

app-pagamento .parcelas .parcela.atual input {
  color: var(--c-grey-dark) !important;
}

app-pagamento .parcelas .parcela.atual .grupo1 span {
  color: var(--c-grey);
  border: 1.5px solid var(--c-input-border);
  background-color: transparent;
  box-shadow: 0 0 1px 0 var(--c-shadow-one), 0 4px 14px var(--c-shadow-two);
}

/* AVISO
*/

app-pagamento .aviso {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

app-pagamento .aviso:empty {
  margin: 0 !important;
}

app-pagamento .aviso p {
  font-family: 'Regular';
  font-size: 0.9rem;
  color: var(--c-red);
}

/* RESPONSIVO
*/

@media screen and (max-width: 500px) {
  app-pagamento .quantidade {
    position: absolute;
    top: 25px;
    right: 0;
    display: flex;
    align-items: center;
    flex-direction: row;
  }
  app-pagamento .quantidade p {
    font-size: 0.9rem;
  }
  app-pagamento .calcular {
    top: 28px;
    right: 70px;
  }
  app-pagamento .parcelas .parcela .grupo1 span {
    font-size: 0.7rem;
    padding: 2px 8px;
    border-radius: 100px;
  }
}
