/* SELECT
*/

app-select {
  font-family: 'Regular';
  font-size: 1rem;
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px 0 10px 0;
  cursor: pointer;
  color: var(--c-input);
  border-bottom: 2px solid var(--c-input-border);
}

app-select .texto {
  pointer-events: none;
}

app-select .texto:empty:not(:focus):before {
  font-family: 'Regular';
  margin-left: 0 auto;
  content: 'Selecione';
  color: var(--c-input-placeholder);
}

label.comselect {
  margin-bottom: 0;
}

/* FOCUS
*/

app-select:focus {
  outline: none;
}

/* DISABLED
*/

app-select:disabled,
app-select:disabled * {
  cursor: none;
  pointer-events: none;
}

/* DROPDOWN
*/

app-select .dropdown {
  position: absolute;
  z-index: 1;
  top: 42px;
  left: 0;
  display: none;
  overflow-y: auto;
  flex-direction: column;
  width: 100%;
  max-height: 250px;
  margin-bottom: 50px;
  padding: 10px 0 0 0;
  animation: fadeIn 0.3s;
  background-color: var(--c-white);
  box-shadow: 0 0 1px 0 var(--c-shadow-one), 0 4px 14px var(--c-shadow-two);
}

app-select .dropdown.mostrar {
  display: flex;
}

/* DROPDOWN OPCOES
*/

app-select .dropdown .opcoes div {
  font-family: 'Regular';
  font-size: 1rem;
  padding: 5px 20px;
  cursor: pointer;
  text-align: left;
  color: var(--c-text);
}

app-select .dropdown .opcoes div:hover {
  transition: all 0.2s;
  color: var(--c-text-dark);
}

app-select .dropdown .opcoes div:last-child {
  padding-bottom: 30px;
}

/* DROPDOWN BUSCA
*/

app-select .dropdown .busca {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0 15px;
}

app-select .dropdown .busca input {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px 15px;
  border: 1.5px solid var(--c-input-border);
  border-radius: 10px;
}

/* VAZIO
*/

app-select .dropdown .busca.ocultar {
  display: none;
}

app-select .dropdown .opcoes:empty:before {
  font-family: 'Regular';
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 15px;
  content: 'Não há nada cadastrado por enquanto';
  color: var(--c-red);
}

/* RESPONSIVO
*/

@media screen and (max-width: 500px) {
  app-select {
    font-size: 0.9rem;
    border-bottom: 1.5px solid var(--c-input-border);
  }
  app-select .dropdown {
    border-radius: 0 0 10px 10px;
  }
  app-select .dropdown .opcoes div {
    font-size: 0.9rem;
    padding: 10px 15px;
  }
}
