/* TOOLTIP
*/

.tooltip {
  position: relative;
}

.tooltip_text {
  font-family: 'Regular';
  font-size: 0.7rem;
  position: absolute;
  bottom: 30%;
  left: 120%;
  visibility: hidden;
  min-width: max-content;
  padding: 2px 7px;
  transition: all ease 0.2s;
  pointer-events: none;
  opacity: 0;
  color: var(--c-white-fixed);
  border-radius: 4px;
  background-color: var(--c-background-tooltip);
}

.tooltip:hover .tooltip_text {
  visibility: visible;
  opacity: 1;
}

/* RESPONSIVO
*/

@media screen and (max-width: 1000px) {
  .tooltip_text {
    display: none;
  }
  .tooltip:hover .tooltip_text {
    visibility: hidden;
    opacity: 0;
  }
}
