<aside class="close">

  <!-- Funcionalidades -->
  <div class="funcionalidades">

    <!-- Painel -->
    <a name="painel" href="/painel" class="tooltip">
      <i class="icon-painel"></i>
      <span>Painel</span>
      <p class="tooltip_text">Painel</p>
    </a>

    <!-- Vendas -->
    <a name="vendas" href="/vendas" class="tooltip">
      <i class="icon-venda"></i>
      <span>Vendas</span>
      <p class="tooltip_text">Vendas</p>
    </a>

    <!-- Agenda -->
    <a name="agenda" href="/agenda" class="tooltip">
      <i class="icon-agenda"></i>
      <span>Agenda</span>
      <p class="tooltip_text">Agenda</p>
    </a>

    <!-- Financeiro -->
    <a name="financeiro" href="/financeiro" class="tooltip">
      <i class="icon-grafico"></i>
      <span>Financeiro</span>
      <p class="tooltip_text">Financeiro</p>
    </a>

    <!-- Clientes -->
    <a name="clientes" href="/clientes" class="tooltip">
      <i class="icon-cliente"></i>
      <span>Clientes</span>
      <p class="tooltip_text">Clientes</p>
    </a>

    <!-- Produtos -->
    <a name="produtos" href="/produtos" class="tooltip">
      <i class="icon-produto"></i>
      <span>Produtos</span>
      <p class="tooltip_text">Produtos</p>
    </a>

    <!-- Anotações -->
    <a name="anotacoes" href="/anotacoes" class="tooltip">
      <i class="icon-notas"></i>
      <span>Anotações</span>
      <p class="tooltip_text">Anotações</p>
    </a>

  </div>

</aside>
