<navbar>

  <!-- Funcionalidades -->
  <div class="funcionalidades">
    <a class="funcionalidades__abrir"><i class="icon-menu"></i><i class="icon-fechar"></i></a>
  </div>

  <!-- Notificações -->
  <div class="notificacoes">
    <a href="/notificacoes"><i class="icon-notificacao"></i></a>
  </div>

  <!-- Chat -->
  <div class="chat">
    <a class="chat" id="chat_mobile_start"><i class="icon-chat"></i></a>
  </div>

  <!-- Perfil -->
  <div class="perfil">
    <a href="/perfil">
      <img src="https://static.gerenciaconsultor.com/images/plataforma/outros/placeholder-perfil.svg">
    </a>
  </div>

</navbar>
