<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
  <title>Gerencia Consultor</title>

  {{> metatags}}
  <link rel="manifest" href="./site.webmanifest">
  <!-- Chrome, Firefox OS and Opera -->
  <meta name="theme-color" content="#f85508">
  <meta name="msapplication-TileColor" content="#f85508">
  <meta name="msapplication-navbutton-color" content="#f85508">
  <meta name="apple-mobile-web-app-status-bar-style" content="#f85508">

  <!-- DNS -->
  <link rel="dns-prefetch" href="gerenciabeleza.com">
  <link rel="dns-prefetch" href="static.gerenciaconsultor.com">

  <!-- CSS -->
  <link href="./static/css/index.css?v={{versao.css}}" rel="stylesheet">
</head>

<body>

  <!-- HEADER -->
  {{> header}}

  <!-- FUNCIONALIDADES -->
  {{> funcionalidades}}

  <!-- REVOLUCIONE -->
  {{> revolucione}}

  <!-- DIGITALIZA -->
  {{> digitaliza}}

  <!-- FRASE -->
  {{> frase}}

  <!-- PIZZA -->
  {{> pizza}}

  <!-- FOOTER -->
  {{> footer}}

  <!-- JS -->
  <script defer src="./static/js/pages/index.js?v={{versao.js}}"></script>

  <!-- Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-169310836-3"></script>
  <script defer src="https://static.gerenciaconsultor.com/js/google-analises.js"></script>

</body>

</html>
