/* SECTION DIGITALIZA
*/

.digitaliza {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
  padding: 100px 0px;
  background-color: var(--c-white);
  align-items: center;
}

/* IMAGEM
*/

.digitaliza .imagem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 500px;
  background-image: url('https://static.gerenciaconsultor.com/images/website/landing-page/consultor-de-sucesso/background-imagem-digitaliza.svg');
  background-repeat: no-repeat;
  background-position: right;
}

.digitaliza .imagem img {
  max-width: 250px;
  width: 100%;
  transform: rotate(10deg);
}

/* TEXTO
*/

.digitaliza .texto {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0px 0px 0px 100px;
}

.digitaliza .texto.mobile {
  display: none;
}

.digitaliza .texto h2 {
  font-family: 'Medium';
  font-size: 2.5rem;
  color: var(--c-text-dark);
  text-transform: uppercase;
  line-height: 45px;
  max-width: 700px;
  padding-bottom: 10px;
}

.digitaliza .texto p {
  font-family: 'Regular';
  font-size: 1.2rem;
  color: var(--c-text);
  max-width: 500px;
}

.digitaliza .texto h2 span {
  color: var(--c-white);
  padding: 4px 10px 0px 10px;
  border-radius: 5px;
  animation: color 60s infinite;
}

.digitaliza .texto button {
  font-family: 'Medium';
  font-size: 1rem;
  color: var(--c-white);
  background-color: var(--c-primary);
  padding: 10px 30px;
  border-radius: 100px;
}

.digitaliza .texto button:hover {
  opacity: 0.8;
}

/* RESPONSIVO
*/

@media screen and (max-width: 800px) {
  .digitaliza {
    grid-template-columns: 1fr;
    grid-gap: 100px;
    padding: 0px 0px 100px 0px;
  }
  .digitaliza .texto {
    align-items: center;
    text-align: center;
    padding-left: 0px;
    padding: 0px 20px;
  }
  .digitaliza .texto.mobile {
    display: grid;
  }
  .digitaliza .texto.desktop {
    display: none;
  }
  .digitaliza .texto p {
    margin: auto;
  }
}

@media screen and (max-width: 600px) {
  .digitaliza .imagem img {
    max-width: 200px;
  }
  .digitaliza .texto p {
    max-width: 330px;
    font-size: 1rem;
  }
  .digitaliza .texto h2 span {
    padding: 2px 7px 0px 7px;
  }
  .digitaliza .texto h2 {
    font-size: 1.3rem;
    line-height: 25px;
    max-width: 330px;
  }
}
