/* FOOTER
*/

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* TEXTO
*/

.footer .texto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 100px 20px;
  width: 100%;
  background-color: var(--c-body);
}

.footer .texto h2 {
  font-family: 'Medium';
  font-size: 2rem;
  color: var(--c-text-dark);
  text-transform: uppercase;
  max-width: 400px;
  line-height: 35px;
  padding-bottom: 15px;
}

.footer .texto p {
  font-family: 'Regular';
  font-size: 1rem;
  color: var(--c-text);
  max-width: 500px;
  padding-bottom: 15px;
}

.footer .texto button {
  font-family: 'Medium';
  font-size: 1rem;
  color: var(--c-white);
  background-color: var(--c-primary);
  padding: 10px 30px;
  border-radius: 100px;
}

.footer .texto button:hover {
  opacity: 0.8;
}

.footer .texto img.logo {
  max-width: 100px;
  margin-top: 100px;
}

/* IMAGEM
*/

.footer .imagem {
  width: 100%;
  margin-bottom: -2px;
  background-color: var(--c-grey-light);
}
.footer .imagem img.desktop {
  display: flex;
}
.footer .imagem img.mobile {
  display: none;
}

/* RESPONSIVO
*/

@media screen and (max-width: 600px) {
  .footer .imagem img.desktop {
    display: none;
  }
  .footer .imagem img.mobile {
    display: flex;
  }
  .footer .texto h2 {
    font-size: 2rem;
    line-height: 35px;
    max-width: 300px;
  }
}
