/* SECTION FRASE
*/

.frase {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--c-body);
}

/* TEXTO
*/

.frase h2 {
  font-family: 'Regular';
  font-size: 2rem;
  text-transform: uppercase;
  line-height: 35px;
  color: var(--c-text);
  max-width: 700px;
  text-align: center;
  padding: 100px 20px 100px 20px;
}

.frase h2 span {
  font-family: 'Medium';
  color: var(--c-text-dark);
}

/* IMAGEM
*/

.frase .imagem {
  width: 100%;
  background-color: var(--c-white);
}

.frase .imagem.baixo {
  margin-bottom: -3px;
  background-color: var(--c-grey-light);
}

.frase .imagem {
  width: 100%;
}

.frase .imagem img.desktop {
  display: flex;
}

.frase .imagem img.mobile {
  display: none;
}

/* RESPONSIVO
*/

@media screen and (max-width: 800px) {
  .frase h2 {
    font-size: 1.2rem;
    line-height: 25px;
  }
}

@media screen and (max-width: 600px) {
  .frase .imagem img.desktop {
    display: none;
  }
  .frase .imagem img.mobile {
    display: flex;
  }
}
