/* FUNCIONALIDADES
*/

.funcionalidades {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* IMAGEM
*/

.funcionalidades .imagem {
  margin-top: -2px;
  background-color: var(--c-white);
  width: 100%;
}
.funcionalidades .imagem img.desktop {
  display: flex;
}
.funcionalidades .imagem img.mobile {
  display: none;
}

/* TEXTO
*/

.funcionalidades .texto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 550px;
  padding-bottom: 50px;
  padding: 100px 20px 50px 20px;
}

.funcionalidades .texto h2 {
  font-family: 'Medium';
  font-size: 1.5rem;
  color: var(--c-text-dark);
  padding-bottom: 5px;
}

.funcionalidades .texto p {
  font-family: 'Regular';
  font-size: 1rem;
  color: var(--c-text);
}

/* QUADROS
*/

.funcionalidades .quadros {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  max-width: 800px;
  padding: 0px 20px 5px 20px;
}

.funcionalidades .quadros .quadro {
  background-color: var(--c-white);
  box-shadow: 0 0 1px 0 var(--c-shadow-one), 0 4px 14px var(--c-shadow-two);
  border-radius: 10px;
  padding: 30px;
}

.funcionalidades .quadros .quadro i {
  font-size: 3rem;
  color: var(--c-text-dark);
}

.funcionalidades .quadros .quadro h3 {
  font-family: 'Medium';
  font-size: 1.1rem;
  color: var(--c-text-dark);
  padding-bottom: 10px;
  padding-top: 20px;
}

.funcionalidades .quadros .quadro p {
  font-family: 'Regular';
  font-size: 1rem;
  color: var(--c-text);
}

/* CORES
*/

.funcionalidades .quadros .quadro.verde {
  border-bottom: 5px solid var(--c-green);
}

.funcionalidades .quadros .quadro.verde i {
  color: var(--c-green);
}

.funcionalidades .quadros .quadro.amarelo {
  border-bottom: 5px solid var(--c-yellow);
}

.funcionalidades .quadros .quadro.amarelo i {
  color: var(--c-yellow);
}

.funcionalidades .quadros .quadro.ciano {
  border-bottom: 5px solid var(--c-cyan);
}

.funcionalidades .quadros .quadro.ciano i {
  color: var(--c-cyan);
}

.funcionalidades .quadros .quadro.vermelho {
  border-bottom: 5px solid var(--c-red);
}

.funcionalidades .quadros .quadro.vermelho i {
  color: var(--c-red);
}

.funcionalidades .quadros .quadro.roxo {
  border-bottom: 5px solid var(--c-purple);
}

.funcionalidades .quadros .quadro.roxo i {
  color: var(--c-purple);
}

.funcionalidades .quadros .quadro.azul {
  border-bottom: 5px solid var(--c-blue);
}

.funcionalidades .quadros .quadro.azul i {
  color: var(--c-blue);
}

/* RESPONSIVO
*/

@media screen and (max-width: 600px) {
  .funcionalidades .quadros {
    grid-template-columns: 1fr;
    max-width: 350px;
  }
  .funcionalidades .texto h2 {
    font-size: 1.3rem;
  }
  .funcionalidades .imagem img.desktop {
    display: none;
  }
  .funcionalidades .imagem img.mobile {
    display: flex;
  }
}
