/* HEADER
*/

.header {
  width: 100vw;
  background-color: var(--c-body);
}

/* TEXTO
*/

.header .texto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 100px 20px 0px 20px;
  background-color: var(--c-white);
}

.header .texto h1 {
  font-family: 'Medium';
  font-size: 2rem;
  text-transform: uppercase;
  line-height: 35px;
  color: var(--c-text-dark);
  max-width: 550px;
  padding-bottom: 15px;
}

.header .texto h3 {
  font-family: 'Medium';
  font-size: 1.3rem;
  color: var(--c-text-dark);
  max-width: 850px;
}

.header .texto p {
  font-family: 'Regular';
  font-size: 1rem;
  color: var(--c-text);
  max-width: 600px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.header .texto button {
  font-family: 'Medium';
  font-size: 1rem;
  color: var(--c-white);
  background-color: var(--c-primary);
  padding: 10px 30px;
  border-radius: 100px;
  margin: 20px 0px 80px 0px;
}

.header .texto button:hover {
  opacity: 0.8;
}

.header .texto img {
  max-width: 600px;
  width: 100%;
  z-index: 2;
}

/* IMAGEM
*/

.header .imagem {
  margin-top: -2px;
}
.header .imagem img.desktop {
  display: flex;
}
.header .imagem img.mobile {
  display: none;
}

/* RESPONSIVO
*/

@media screen and (max-width: 600px) {
  .header .texto {
    align-items: flex-start;
  }
  .header .texto h1 {
    font-size: 2rem;
    line-height: 35px;
    text-align: left;
    max-width: 300px;
  }
  .header .texto h3 {
    font-size: 1.1rem;
    text-align: left;
  }
  .header .texto p {
    font-size: 0.9rem;
    text-align: left;
  }
  .header .texto img {
    margin-bottom: 50px;
  }
  .header .texto button {
    margin-left: 0 auto;
  }
  .header .imagem img.desktop {
    display: none;
  }
  .header .imagem img.mobile {
    display: flex;
  }
}
