/* PIZZA
*/

.pizza {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
  background-color: var(--c-grey-light);
  align-items: center;
  padding: 50px 20px 50px 20px;
}

/* TEXTO
*/

.pizza .texto {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  justify-content: center;
}

.pizza .texto h2 {
  font-family: 'Medium';
  font-size: 2rem;
  text-transform: uppercase;
  color: var(--c-text-dark);
  max-width: 400px;
  line-height: 35px;
  padding-bottom: 10px;
}

.pizza .texto p {
  font-family: 'Regular';
  font-size: 1rem;
  color: var(--c-text-dark);
  max-width: 500px;
  padding-bottom: 10px;
}

.pizza .texto button {
  font-family: 'Regular';
  font-size: 1rem;
  color: var(--c-grey);
  background-color: var(--c-white);
  padding: 10px 20px;
  border-radius: 100px;
}

.pizza .texto button:hover {
  opacity: 0.7;
}

/* IMAGEM
*/

.pizza .imagem {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pizza .imagem img {
  width: 350px;
  height: 350px;
}

/* RESPONSIVO
*/

@media screen and (max-width: 800px) {
  .pizza {
    grid-template-columns: 1fr;
    padding: 50px 20px 100px 20px;
  }
  .pizza .texto {
    align-items: center;
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  .pizza .imagem img {
    width: 250px;
    height: 250px;
  }
  .pizza .texto h2 {
    font-size: 1.5rem;
    line-height: 30px;
    max-width: 300px;
  }
}
