/* SECTION REVOLUCIONE
*/

.revolucione {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
  padding: 100px 0px;
  background-color: var(--c-white);
  align-items: center;
}

/* IMAGEM
*/

.revolucione .imagem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 500px;
  background-image: url('https://static.gerenciaconsultor.com/images/website/landing-page/consultor-de-sucesso/background-imagem-revolucione.svg');
  background-repeat: no-repeat;
  background-position: left;
}

.revolucione .imagem img {
  max-width: 250px;
  width: 100%;
  transform: rotate(-10deg);
}

/* TEXTO
*/

.revolucione .texto {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0px 20px;
}

.revolucione .texto h2 {
  font-family: 'Medium';
  font-size: 1.5rem;
  color: var(--c-text-dark);
  text-transform: uppercase;
  line-height: 28px;
  max-width: 500px;
  padding-bottom: 10px;
}

.revolucione .texto p {
  font-family: 'Regular';
  font-size: 1rem;
  color: var(--c-text);
  max-width: 400px;
  padding-bottom: 10px;
}

.revolucione .texto button {
  font-family: 'Medium';
  font-size: 1rem;
  color: var(--c-white);
  background-color: var(--c-green);
  padding: 10px 30px;
  border-radius: 100px;
}

.revolucione .texto button:hover {
  opacity: 0.8;
}

/* RESPONSIVO
*/

@media screen and (max-width: 800px) {
  .revolucione {
    grid-template-columns: 1fr;
    grid-gap: 100px;
  }
  .revolucione .texto {
    align-items: center;
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  .revolucione .imagem img {
    max-width: 200px;
  }
  .revolucione .texto p {
    max-width: 250px;
  }
  .revolucione .texto h2 {
    font-size: 1.2rem;
    line-height: 25px;
    max-width: 350px;
  }
  .revolucione .texto button {
    font-size: 0.9rem;
    padding: 8px 20px;
  }
}
