
main {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  min-height: 70vh;
  padding: 0 30px;
}

main h1 {
  font-family: 'Medium';
  font-size: 4rem;
  padding-bottom: 10px;
  color: var(--c-text-dark);
}

main p {
  font-family: 'Regular';
  font-size: 1.1rem;
  max-width: 500px;
  padding-bottom: 20px;
  text-align: center;
  color: var(--c-text);
}

main button {
  font-family: 'Regular';
  font-size: 1rem;
  padding: 7px 20px;
  color: var(--c-white-fixed);
  border-radius: 100px;
  background-color: var(--c-button-gray);
}

main button:hover,
main button:active,
main button:focus {
  padding: 7px 20px;
  background-color: var(--c-button-gray-dark);
}
