/* FILTROS
*/

.filtros {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: calc(100% - 60px);
  height: 70px;
  margin-bottom: 30px;
  border-radius: 15px;
  background-color: var(--c-base);
  box-shadow: 0 0 1px 0 var(--c-shadow-one), 0 4px 14px var(--c-shadow-two);
}

/* PESQUISA
*/

.filtros .pesquisa {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  padding-left: 30px;
}

.filtros .pesquisa::before {
  font-family: 'Icons';
  font-size: 1.5rem;
  padding-right: 20px;
  content: '\e011';
  color: var(--c-grey-light);
}

.filtros .pesquisa input.search {
  font-size: 1.2rem;
  width: 100%;
  color: var(--c-grey);
  border: 0;
}

/* RESPONSIVO
*/

@media screen and (max-width: 500px) {
  .filtros {
    width: calc(100% - 30px);
    height: 50px;
    border-radius: 10px;
  }
  .filtros .pesquisa {
    padding: 0 0 0 15px;
  }
  .filtros .pesquisa input.search {
    font-size: 0.9rem;
  }
  .filtros .pesquisa::before {
    font-size: 1.2rem;
    padding-right: 10px;
  }
}
