/* MODAL
*/

.modal {
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  overflow-y: auto;
  align-items: center;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
  transition: ease-out all;
  pointer-events: none;
  opacity: 0;
  background-color: var(--c-shadow-modal);
  box-shadow: 0;

  will-change: opacity;
}

/* EFEITOS DE TRANSICAO
*/

.modal-aberto,
.deletando {
  animation: fadeIn 0.3s;
  pointer-events: auto;

  animation-fill-mode: forwards;
}

.modal-fechado {
  animation: fadeOut 0.3s;

  animation-fill-mode: forwards;
}

.modal.modal-aberto > .conteudo {
  animation: vindoEsquerda 0.3s;
}

.modal.modal-fechado > .conteudo {
  animation: voltandoEsquerda 0.3s;
}

/* CONTEUDO
*/

.modal > .conteudo {
  position: absolute;
  left: 0;
  display: flex;
  overflow-y: scroll;
  flex-direction: column;
  width: 550px;
  height: 100vh;
  padding-bottom: 100px;
  background-color: var(--c-base);
}

.modal > .conteudo,
.modal {
  scrollbar-width: none;
}

.conteudo::-webkit-scrollbar-track,
.conteudo::-webkit-scrollbar,
.conteudo::-webkit-scrollbar-thumb,
.modal::-webkit-scrollbar-track,
.modal::-webkit-scrollbar,
.modal::-webkit-scrollbar-thumb {
  display: none;
}

/* MODAL SECTIONS */
.modal > .conteudo > section {
  padding: 20px 50px;
}

.modal > .conteudo input {
  margin-bottom: 20px;
}

/* TITULO
*/

.modal > .conteudo > section > .telas > .tela > .titulo {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-bottom: 40px;
  text-align: center;
}

.modal > .conteudo > section > .telas > .tela > .titulo p.nome {
  font-family: 'Medium';
  font-size: 1.5rem;
  color: var(--c-text-dark);
}

.modal > .conteudo > section > .telas > .tela > .titulo p.descricao {
  font-family: 'Regular';
  font-size: 1rem;
  color: var(--c-text);
}

/* TELAS
*/

.modal > .conteudo > section > .telas > .tela {
  flex-direction: column;
  width: 100%;
  padding-top: 40px;
}

/* BOTÃO
*/

.modal > .conteudo > section > .telas > .tela > .botoes {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
}

/* BOTÃO AVANÇAR E POSITIVO */
.modal > .conteudo > section > .telas > .tela > .botoes > button.positivo {
  font-family: 'Regular';
  font-size: 1rem;
  margin-left: auto;
  padding: 8px 20px;
  color: var(--c-white-fixed);
  border-radius: 100px;
  background-color: var(--c-green);
}

.modal > .conteudo > section > .telas > .tela > .botoes > button.positivo:hover {
  background-color: var(--c-green-dark);
}

.modal > .conteudo > section > .telas > .tela > .botoes > button.avancar {
  font-family: 'Regular';
  font-size: 1rem;
  display: flex;
  align-items: center;
  margin-left: auto;
  color: var(--c-grey);
  background-color: transparent;
}

.modal > .conteudo > section > .telas > .tela > .botoes > button.avancar i {
  font-size: 1.2rem;
  padding-left: 10px;
  content: '\e028';
  color: var(--c-grey);
}

.modal > .conteudo > section > .telas > .tela > .botoes > button.avancar:hover,
.modal > .conteudo > section > .telas > .tela > .botoes > button.avancar:hover i {
  color: var(--c-green);
}

/* BOTÃO NEGATIVO E VOLTAR */
.modal > .conteudo > section > .telas > .tela > .botoes > button.negativo,
.modal > .conteudo > section > .telas > .tela > .botoes > button.voltar {
  font-family: 'Regular';
  font-size: 1rem;
  display: flex;
  align-items: center;
  margin-right: auto;
  color: var(--c-grey);
  background-color: transparent;
}

.modal > .conteudo > section > .telas > .tela > .botoes > button.negativo i,
.modal > .conteudo > section > .telas > .tela > .botoes > button.voltar i {
  font-size: 1.2rem;
  padding-right: 10px;
  content: '\e029';
  color: var(--c-grey);
}

.modal > .conteudo > section > .telas > .tela > .botoes > button.negativo:hover,
.modal > .conteudo > section > .telas > .tela > .botoes > button.negativo:hover i,
.modal > .conteudo > section > .telas > .tela > .botoes > button.voltar:hover,
.modal > .conteudo > section > .telas > .tela > .botoes > button.voltar:hover i {
  color: var(--c-red);
}

/* BOTÕES DE OPÇÕES EXTRAS */
.modal > .conteudo > section > .opcoes {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  margin: auto;
  padding: 15px;
  padding-top: 25px;
}

.modal > .conteudo > section > .opcoes > button {
  font-family: 'Regular';
  font-size: 0.8rem;
  padding: 5px 12px;
  color: var(--c-white-fixed);
  border-radius: 100px;
}

/* BOTÃO DELETAR */
.modal > .conteudo > section > .opcoes > button.deletar {
  background-color: var(--c-red);
}

.modal > .conteudo > section > .opcoes > button.deletar:hover {
  background-color: var(--c-red-dark);
}

/* BOTÃO REPOR */
.modal > .conteudo > section > .opcoes > button.repor {
  background-color: var(--c-button-gray);
}
.modal > .conteudo > section > .opcoes > button.repor:hover {
  background-color: var(--c-button-gray-dark);
}

/* BOTÃO WHATSAPP */
.modal > .conteudo > section > .opcoes > button.whatsapp {
  background-color: var(--c-green);
}
.modal > .conteudo > section > .opcoes > button.whatsapp:hover {
  background-color: var(--c-green-dark);
}

/* DELETANDO
*/

.modal > .conteudo > section#modal_deletar {
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.modal > .conteudo > section#modal_deletar > .telas > .tela > p.texto {
  font-family: 'Regular';
  font-size: 1.2rem;
  padding-bottom: 20px;
  text-align: center;
  color: var(--c-text);
}

.modal > .conteudo > section#modal_deletar > .telas > .tela > .botoes {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.modal > .conteudo > section#modal_deletar > .telas > .tela > .botoes > button.sim,
.modal > .conteudo > section#modal_deletar > .telas > .tela > .botoes > button.nao {
  font-family: 'Regular';
  font-size: 1rem;
  padding: 7px 20px;
  color: var(--c-white-fixed);
  border-radius: 100px;
}

.modal > .conteudo > section#modal_deletar > .telas > .tela > .botoes > button.sim {
  margin-left: 10px;
  background-color: var(--c-red);
}

.modal > .conteudo > section#modal_deletar > .telas > .tela > .botoes > button.sim:hover {
  background-color: var(--c-red-dark);
}

.modal > .conteudo > section#modal_deletar > .telas > .tela > .botoes > button.nao {
  background-color: var(--c-button-gray);
}

.modal > .conteudo > section#modal_deletar > .telas > .tela > .botoes > button.nao:hover {
  background-color: var(--c-button-gray-dark);
}

/* RESPONSIVO
*/

@media screen and (max-width: 550px) {
  .modal > .conteudo {
    width: 100%;
    padding-bottom: 150px;
  }
  .modal > .conteudo > section {
    padding: 20px 20px;
  }
  .modal > .conteudo > section > .titulo > p.nome {
    font-size: 1.2rem;
  }
  .modal > .conteudo > section > .titulo p.descricao {
    font-size: 0.9rem;
  }
  .modal > .conteudo > section > .telas > .tela > .botoes {
    margin-bottom: 30px;
  }
  .modal > .conteudo > section > .telas > .tela > .botoes > button.positivo {
    font-size: 0.9rem;
  }
  .modal > .conteudo > section > .telas > .tela > .botoes > button.negativo {
    font-size: 0.9rem;
  }
  .modal > .conteudo > section#modal_deletar > .titulo > p.descricao {
    font-size: 0.9rem;
  }
  .modal > .conteudo > section#modal_deletar > .titulo > p.identificacao {
    font-size: 1rem;
  }
}
