<!-- DIGITALIZA -->
<section class="digitaliza">
  <div class="texto desktop">
    <h2>O <span>fim</span> do talão de pedido e de planilhas de excel</h2>
    <p>O sistema digitaliza e agiliza todas as vendas que você faz e te avisa quando você precisa voltar a falar com um cliente atráves do seu histórico de compra.</p>
  </div>
  <div class="imagem">
    <img src="https://static.gerenciaconsultor.com/images/website/landing-page/consultor-de-sucesso/celular-alerta.svg">
  </div>
  <div class="texto mobile">
    <h2>O <span>fim</span> do talão de pedido e de planilhas de excel</h2>
    <p>O sistema digitaliza e agiliza todas as vendas que você faz e te avisa quando você precisa voltar a falar com um cliente atráves do seu histórico de compra.</p>
  </div>
</section>
