<!-- FOOTER -->
<section class="footer">
  <div class="imagem">
    <img class="desktop" src="https://static.gerenciaconsultor.com/images/website/landing-page/consultor-de-sucesso/borda-footer.svg">
    <img class="mobile" src="https://static.gerenciaconsultor.com/images/website/landing-page/consultor-de-sucesso/borda-footer-mobile.svg">
  </div>
  <div class="texto">
    <h2>Pare de viver no século passado</h2>
    <p>Tranforme-se num vendedor do novo século adotando técnologias que vão facilitar suas vendas, fidelizar seus clientes e deixar sua vida mais organizada hoje mesmo!</p>
    <a target="_blank" href="https://app.gerenciaconsultor.com"><button>Quero me transformar</button></a>
    <img class="logo" src="https://static.gerenciaconsultor.com/images/global/logo/logotipo.svg">
  </div>
</section>
