<!-- FRASE -->
<section class="frase">
  <div class="imagem">
    <img class="mobile" src="https://static.gerenciaconsultor.com/images/website/landing-page/consultor-de-sucesso/borda-frase-mobile.svg">
    <img class="desktop" src="https://static.gerenciaconsultor.com/images/website/landing-page/consultor-de-sucesso/borda-frase.svg">
  </div>
  <h2>Alimentamos com <span>tecnologia</span> a fome de vencer de <span>revendedores e consultores</span> de vendas diretas.</h2>
  <div class="imagem baixo">
    <img class="desktop" src="https://static.gerenciaconsultor.com/images/website/landing-page/consultor-de-sucesso/borda-frase-baixa.svg">
    <img class="mobile" src="https://static.gerenciaconsultor.com/images/website/landing-page/consultor-de-sucesso/borda-frase-baixa-mobile.svg">
  </div>
</section>
