<!-- FUNCIONALIDADES -->
<section class="funcionalidades">
  <div class="texto">
    <h2>UM SISTEMA FEITO POR CONSULTORES</h2>
    <p>Obtenha recursos exclusivos que foram criados e comprovados com a ajuda de vários consultores de sucesso do mercado!</p>
  </div>
  <div class="quadros">
    <div class="quadro verde">
      <i class="icon-cliente"></i>
      <h3>Histórico de Compras do Cliente</h3>
      <p>Tenha acesso a relatórios fáceis que mostram quando seu cliente comprou de você e o que ele adquiriu naquela compra.</p>
    </div>
    <div class="quadro ciano">
      <i class="icon-venda"></i>
      <h3>Vendas Diretas no Sistema</h3>
      <p>Com um recurso integrado de venda você pode efetuar os pedidos de seus clientes direto pelo sistema do seu computador, tablet ou celular.</p>
    </div>
    <div class="quadro azul">
      <i class="icon-cliente"></i>
      <h3>Venda 2x Mais Para o Mesmo Cliente</h3>
      <p>Imagine você saber quando o produto que você vendeu para um cliente está acabando? Com o sistema GC você é avisado disso e pode oferecer produtos quando o cliente mais precisa.</p>
    </div>
    <div class="quadro amarelo">
      <i class="icon-grafico"></i>
      <h3>Financeiro Fácil</h3>
      <p>Mantenha a saúde financeira da sua rede com a tecnologia GC! Tenha acesso a um financeiro simples e completo aonde suas vendas e reposições são contabilizados automaticamente.</p>
    </div>
    <div class="quadro vermelho">
      <i class="icon-produto"></i>
      <h3>Estoque Organizado</h3>
      <p>Chega de dor de cabeça com estoque desorganizado! Com o sistema GC você tem controle total de todos os produtos que tem em seu estoque e será avisado se algum estiver acabando.</p>
    </div>
    <div class="quadro roxo">
      <i class="icon-agenda"></i>
      <h3>Agenda Pessoal</h3>
      <p>Um consultor de sucesso tem muitos compromissos e anotá-los em um papel é muito arriscado, agora você pode anotar todos em uma agenda online e pessoal para ser lembrado mais tarde.</p>
    </div>
  </div>
  <div class="imagem">
    <img class="desktop" src="https://static.gerenciaconsultor.com/images/website/landing-page/consultor-de-sucesso/borda-funcionalidades.svg">
    <img class="mobile" src="https://static.gerenciaconsultor.com/images/website/landing-page/consultor-de-sucesso/borda-funcionalidades-mobile.svg">
  </div>
</section>
