<!-- HEADER -->
<section class="header">
  <div class="texto">
    <h1>Um sistema para vender mais</h1>
    <h3>Não perca mais tempo e facilite seu sucesso agora mesmo.</h3>
    <p>Com o Gerencia Consultor você vai aumentar suas vendas e diminuir seu cansaço. Use as novas tecnologias do sistema para ajudar você a fazer um trabalho cada vez mais ágil, organizado e profissional na área de vendas.</p>
    <a target="_blank" href="https://app.gerenciaconsultor.com"><button>Quero mais Tecnologia</button></a>
    <img src="https://static.gerenciaconsultor.com/images/website/landing-page/consultor-de-sucesso/computador.svg">
  </div>
  <div class="imagem">
    <img class="desktop" src="https://static.gerenciaconsultor.com/images/website/landing-page/consultor-de-sucesso/borda-header.svg">
    <img class="mobile" src="https://static.gerenciaconsultor.com/images/website/landing-page/consultor-de-sucesso/borda-header-mobile.svg">
  </div>
</section>
