<!-- PIZZA -->
<section class="pizza">
  <div class="imagem">
    <img src="https://static.gerenciaconsultor.com/images/website/landing-page/consultor-de-sucesso/pizza.svg">
  </div>
  <div class="texto">
    <h2>Seu futuro vale menos que uma pizza?</h2>
    <p>Por menos de uma pizza você pode ser uma pessoa mais organizada, vender mais e atingir o sucesso que você deseja.</p>
    <a target="_blank" href="https://app.gerenciaconsultor.com"><button>Chega de desculpas</button></a>
  </div>
</section>
