<!-- REVOLUCIONE -->
<section class="revolucione">
  <div class="imagem">
    <img src="https://static.gerenciaconsultor.com/images/website/landing-page/consultor-de-sucesso/celular-vendas.svg">
  </div>
  <div class="texto">
    <h2>Descubra uma nova forma de vender com Gerencia Consultor</h2>
    <p>Seja avisado quando os produtos de seus clientes estiverem acabando e venda para eles no momento em que mais precisam.</p>
    <a target="_blank" href="https://app.gerenciaconsultor.com"><button>Chega de perder clientes</button></a>
  </div>
</section>
