/* CORES
*/

:root {

/* CORES BASE */

--c-body: #f7faff;
--c-base: #ffffff;
--c-white: #ffffff;
--c-white-fixed: #ffffff;
--c-black: #000000;

/* COR TEXTOS */

--c-text: #999eae;
--c-text-dark: #6f7380;
--c-text-light: #b6bbcc;
--c-text-border: #e6eaf5;

/* COR INPUTS/LABELS */

--c-input: #6f7380;
--c-input-placeholder: #cbcfdc;
--c-label: #969bac;
--c-input-border: #e6eaf5;

/* COR BOTÃO NEUTRO */

--c-button-gray: #b1b6c7;
--c-button-gray-dark: #6f7380;

/* CORES GERAIS */

--c-yellow-dark: #d18439;
--c-yellow: #ff9f41;
--c-yellow-light: #fdb167;

--c-blue-dark: #4b7bd1;
--c-blue: #5794ff;
--c-blue-light: #77a8ff;

--c-green-darkest: #104C3D;
--c-green-darker: #09805F;
--c-green-dark: #05A275;
--c-green: #00C48C;
--c-green-light: #31CFA3;
--c-green-lighter: #63DABA;
--c-green-lightest: #ADEADC;

--c-red-darkest: #5c282a;
--c-red-darker: #a03839;
--c-red-dark: #cf4242;
--c-red: #fc4c4c;
--c-red-light: #fb6f70;
--c-red-lighter: #fa9294;
--c-red-lightest: #f9c6c9;

--c-pink-dark: #bf0bcb;
--c-pink: #e808f8;
--c-pink-light: #eb38f9;

--c-purple-dark: #5d41ba;
--c-purple: #6e4cdd;
--c-purple-light: #8a6cec;

--c-cyan-dark: #2ab0ab;
--c-cyan: #3ad0cb;
--c-cyan-light: #5ce7e3;

--c-moss-dark: #738c2e;
--c-moss: #98b83f;
--c-moss-light: #b2d551;

--c-grey-dark: #61646e;
--c-grey: #7f8491;
--c-grey-light: #d2d8eb;

/* COR PRINCIPAL */

--c-primary-dark: #cb490b;
--c-primary: #f85508;
--c-primary-light: #f77639;
--c-primary-change: #f85508;

/* COR SOMBRAS */

--c-shadow-one: #3b59b214;
--c-shadow-two: #3b59b20f;
--c-shadow-one-change: #3b59b214;
--c-shadow-two-change: #3b59b20f;
--c-shadow-modal: #1b243e30;

/* COR TOOLTIP */

--c-background-tooltip: #4e5159;

}

/*

MODO ESCURO

*/

html[data-theme='dark'] {

  /* CORES BASE */

  --c-body: #181818;
  --c-base: #202020;
  --c-white: #202020;

  /* COR TEXTOS */

  --c-text: #757575;
  --c-text-dark: #ffffff;
  --c-text-light: #d0d0d0;
  --c-text-border: #343434;

  /* COR INPUTS/LABELS */

  --c-input: #cacaca;
  --c-input-placeholder: #545454;
  --c-label: #808080;
  --c-input-border: #343434;

  /* COR BOTÃO NEUTRO */

  --c-button-gray: #474747;
  --c-button-gray-dark: #323232;

  /* CORES GERAIS */

  --c-grey-dark: #c1c1c1;
  --c-grey: #8a8a8a;
  --c-grey-light: #606060;

  /* COR PRINCIPAL */

  --c-primary-change: #ffffff;

  /* COR SOMBRAS */

  --c-shadow-one: transparent;
  --c-shadow-two: transparent;
  --c-shadow-one-change: #101014;
  --c-shadow-two-change: #101014;
  --c-shadow-modal: #000000bd;
  --c-gray-change: #303139;

  /* COR TOOLTIP */

  --c-background-tooltip: #040405;

  /* COR JUST THEME DARK */

  --c-grey-theme-dark: #313131;

}
