/* FADEIN
*/

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* FADEOUT
*/

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-moz-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-ms-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* BOLINHAS LOADING
*/

@keyframes color {
  0% {
    background-color: var(--c-blue);
  }
  9% {
    background-color: var(--c-blue);
  }
  10% {
    background-color: var(--c-purple);
  }
  19% {
    background-color: var(--c-purple);
  }
  20% {
    background-color: var(--c-yellow);
  }
  29% {
    background-color: var(--c-yellow);
  }
  30% {
    background-color: var(--c-cyan);
  }
  39% {
    background-color: var(--c-cyan);
  }
  40% {
    background-color: var(--c-primary);
  }
  49% {
    background-color: var(--c-primary);
  }
  50% {
    background-color: var(--c-pink);
  }
  59% {
    background-color: var(--c-pink);
  }
  60% {
    background-color: var(--c-moss);
  }
  69% {
    background-color: var(--c-moss);
  }
  70% {
    background-color: var(--c-black);
  }
  79% {
    background-color: var(--c-black);
  }
  80% {
    background-color: var(--c-green);
  }
  89% {
    background-color: var(--c-green);
  }
  90% {
    background-color: var(--c-red);
  }
  100% {
    background-color: var(--c-red);
  }
}

@-moz-keyframes color {
  0% {
    background-color: var(--c-blue);
  }
  9% {
    background-color: var(--c-blue);
  }
  10% {
    background-color: var(--c-purple);
  }
  19% {
    background-color: var(--c-purple);
  }
  20% {
    background-color: var(--c-yellow);
  }
  29% {
    background-color: var(--c-yellow);
  }
  30% {
    background-color: var(--c-cyan);
  }
  39% {
    background-color: var(--c-cyan);
  }
  40% {
    background-color: var(--c-primary);
  }
  49% {
    background-color: var(--c-primary);
  }
  50% {
    background-color: var(--c-pink);
  }
  59% {
    background-color: var(--c-pink);
  }
  60% {
    background-color: var(--c-moss);
  }
  69% {
    background-color: var(--c-moss);
  }
  70% {
    background-color: var(--c-black);
  }
  79% {
    background-color: var(--c-black);
  }
  80% {
    background-color: var(--c-green);
  }
  89% {
    background-color: var(--c-green);
  }
  90% {
    background-color: var(--c-red);
  }
  100% {
    background-color: var(--c-red);
  }
}

@-webkit-keyframes color {
  0% {
    background-color: var(--c-blue);
  }
  9% {
    background-color: var(--c-blue);
  }
  10% {
    background-color: var(--c-purple);
  }
  19% {
    background-color: var(--c-purple);
  }
  20% {
    background-color: var(--c-yellow);
  }
  29% {
    background-color: var(--c-yellow);
  }
  30% {
    background-color: var(--c-cyan);
  }
  39% {
    background-color: var(--c-cyan);
  }
  40% {
    background-color: var(--c-primary);
  }
  49% {
    background-color: var(--c-primary);
  }
  50% {
    background-color: var(--c-pink);
  }
  59% {
    background-color: var(--c-pink);
  }
  60% {
    background-color: var(--c-moss);
  }
  69% {
    background-color: var(--c-moss);
  }
  70% {
    background-color: var(--c-black);
  }
  79% {
    background-color: var(--c-black);
  }
  80% {
    background-color: var(--c-green);
  }
  89% {
    background-color: var(--c-green);
  }
  90% {
    background-color: var(--c-red);
  }
  100% {
    background-color: var(--c-red);
  }
}

@-ms-keyframes color {
  0% {
    background-color: var(--c-blue);
  }
  9% {
    background-color: var(--c-blue);
  }
  10% {
    background-color: var(--c-purple);
  }
  19% {
    background-color: var(--c-purple);
  }
  20% {
    background-color: var(--c-yellow);
  }
  29% {
    background-color: var(--c-yellow);
  }
  30% {
    background-color: var(--c-cyan);
  }
  39% {
    background-color: var(--c-cyan);
  }
  40% {
    background-color: var(--c-primary);
  }
  49% {
    background-color: var(--c-primary);
  }
  50% {
    background-color: var(--c-pink);
  }
  59% {
    background-color: var(--c-pink);
  }
  60% {
    background-color: var(--c-moss);
  }
  69% {
    background-color: var(--c-moss);
  }
  70% {
    background-color: var(--c-black);
  }
  79% {
    background-color: var(--c-black);
  }
  80% {
    background-color: var(--c-green);
  }
  89% {
    background-color: var(--c-green);
  }
  90% {
    background-color: var(--c-red);
  }
  100% {
    background-color: var(--c-red);
  }
}
