/* BODY
*/

body {
  position: relative;
  overflow-x: hidden;
  height: 100%;
  background-color: var(--c-body);

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body.desativar-scroll {
  overflow: hidden;
}

/* COR DA SELEÇÃO
*/

*::selection {
  color: var(--c-white-fixed);
  background-color: var(--c-grey-dark);
}
