/* HTML
*/

html {
  line-height: initial;
  cursor: default;
  word-break: break-word;
  -moz-tab-size: 4;
       tab-size: 4;

  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

/* BODY
*/

body {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

/* MAIN
*/

main {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

/* DIV
*/

div {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

/* LINK
*/

a {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background-color: transparent;

  -ms-touch-action: manipulation;
      touch-action: manipulation;
}

/* BUTTON
*/

button {
  font-family: inherit;
  font-size: 100%;
  line-height: initial;
  overflow: visible;
  margin: 0;
  padding: 0;
  text-transform: none;
  border: 0;
  outline: 0;

  -webkit-appearance: button;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}

button:focus {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0 !important;
}

/* IMAGE
*/

img {
  margin: 0;
  padding: 0;
  vertical-align: middle;
  border: 0;
  border-style: none;
  outline: 0;
}

/* UL e LI
*/

ul,
li {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

/* INPUT
*/

input {
  font-family: inherit;
  font-size: 100%;
  line-height: initial;
  overflow: visible;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;

  -ms-touch-action: manipulation;
      touch-action: manipulation;
}

/* LABEL
*/

label {
  font-family: inherit;
  font-size: 100%;
  line-height: initial;
  overflow: visible;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;

  -ms-touch-action: manipulation;
      touch-action: manipulation;
}

/* SVG
*/

svg {
  vertical-align: middle;
}

svg:not([fill]) {
  fill: currentColor;
}

svg:not(:root) {
  overflow: hidden;
}

/* BLOQUEAR SELECAO
*/

button,
img,
a,
input::placeholder,
label {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  outline: none;

   -khtml-user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.0);
  -webkit-text-size-adjust: none;
  -webkit-touch-callout: none;
       -o-user-select: none;
}

/* AFTER E BEFORE
*/

::before,
::after {
  box-sizing: border-box;
  vertical-align: inherit;
  text-decoration: inherit;
}

/* TYPES
*/

[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}

[type='checkbox'],
[type='radio'] {
  box-sizing: border-box;
  padding: 0;
}

[type='search'] {
  outline-offset: -2px;

  -webkit-appearance: textfield;
}

[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

[type='checkbox'],
[type='radio'] {
  padding: 0;
}

[type='search'] {
  outline-offset: -2px;

  -webkit-appearance: textfield;
}

[tabindex] {
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}

[hidden] {
  display: none;
}

[disabled] {
  cursor: not-allowed;
}

/* PARA NAVEGADORES
*/

::-webkit-file-upload-button {
  font: inherit;

  -webkit-appearance: button;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

::-webkit-input-placeholder {
  opacity: 0.54;
  color: inherit;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  font: inherit; /* 2 */

  -webkit-appearance: button;
}

::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

/* HIDDEN
*/

[hidden] {
  display: none;
}

/* VIDEO
*/

video {
  vertical-align: middle;
}

/* IFRAME
*/

iframe {
  vertical-align: middle;
  border-style: none;
}
